@import "tailwindcss";

:root {
  --background: #3f638b;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* NProgress Loading Bar Styles */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #ffffff !important; /* Force green color with !important */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transition: width 0.2s ease-out; /* Include transition here */
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #22c55e, 0 0 5px #22c55e; 
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px); 
}
